<mat-drawer-container autosize [hasBackdrop]="false">
	<!-- right sidenav (panel)-->
	<mat-drawer #sideNav 
			mode="over" 
			opened="false" 
			position="end" 
			[autoFocus]="true" 
			class="right-sidenav">
		<div class="ms-2 mt-2">
			<button mat-icon-button (click)="sideNav.toggle()" class="mt-2 me-2">
				<mat-icon>close</mat-icon>
			</button>
			<h4>Panel</h4>
		</div>

	</mat-drawer>

	<mat-drawer-content>
		<!-- content -->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h3">Screen 1 </h1>
			<div class="btn-toolbar mb-2 mb-md-0">		
				<button mat-button color="primary" (click)="sideNav.toggle()">
					<mat-icon>open_in_new</mat-icon> Show Panel
				</button>
		
				<button mat-button  (click)="notify()" class="ms-2">
					<mat-icon>info</mat-icon> Show Notification
				</button>
	  
			</div>
		</div>
	</mat-drawer-content>
</mat-drawer-container>